<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title> LostNFound</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "lostnfound/general.css" %}" />
  </head>
  <body>
    <h1> Lost-N-Found </h1>
    <div id="header">
      {% if user.is_authenticated %}
      <div>
        {{ user.username }} <br> <br>
        <a href="{% url 'logout' %}?next=lostnfound/logged_out.html" class="btn btn-primary">Log Out</a>
      </div>
      {% endif %}
    </div>
    <div id="content">
      {% block content %}{% endblock content %}
    </div><br><br><br>
    <a href="/users" class="btn btn-primary">Home</a>
  </body>
  </html>
