{% extends "lostnfound/base.html" %}
{% block content %}
  <h3> Welcome to your go-to item tracking service! </h3>
    <h6> Keep track of your prized possesions by registering and placing the generated QR Code on them. </h6>
    <h6> If your item is found, the kind finder simply scans the QR code and enters their email address to begin the process of returning your item! </h6>
    <br>
    <p> Let's get started! </p>
    <div>
      New Users: <br></br>
      <a href="{% url 'signup' %}" class="btn btn-primary">Register</a> </br>
    </div></br>
    <div>
      Existing Users: <br></br>
      <a href="{% url 'login_user' %}" class="btn btn-primary">Log In</a>
    </div>
{% endblock %}
