{% extends "lostnfound/base.html" %}
{% block content %}
<h3> Hello, {{user.first_name}}! </h3>
{%if items%}
  <table  class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status (N/A, Found, Lost)</th>
      </tr>
    </thead>
    <tbody>
        {%for item in items%}
        <tr>
            <td> {{item.name}} </td>
            {%if item.found %}
              <td style="color:red;"> FOUND </td>
            {%elif item.found == False %}
              <td> LOST </td>
            {%else%}
              <td> N/A </td>
            {%endif%}
          <tr>
        {% endfor %}
    </tbody>
  </table><br> <br>
    {%if show_form %}
      <form method="POST" action="./report/products">
          <label for="lost">Report a Lost Item</label>
          <select class="form-control input-small" name="lost">
            <option value="" disabled selected>--Select an Item--</option>
            {%for item in items%}
              {%if item.found == None%}
                <option value={{item.pk}} >{{item.name}}</option>
              {%endif%}
            {%endfor%}
          </select><br>
          <button type="submit" class="btn btn-primary"> Report Lost </button>
      </form> <br>
      {%endif%}
   </div>
   <a href="./products/settings" class="btn btn-primary"> Delete an Item </a>
  {%else%}
  <p> Looks like you haven't registered any items! Let's change that </p>
{%endif%}
  <a href="./new" class="btn btn-primary"> Register an Item </a>
{% endblock %}
