{% extends "lostnfound/base.html" %}
{% block content %}
<h3> Hello, {{user.first_name}}! </h3>
{%if items%}
  <table  class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status (N/A, Found, Lost)</th>
      </tr>
    </thead>
    <tbody>
        {%for item in items%}
          <td> {{item.name}} </td>
          {%if item.found %}
            <td> FOUND </td>
          {%elif item.found == False %}
            <td> LOST </td>
          {%else%}
            <td> N/A </td>
          {%endif%}
        {% endfor %}

    </tbody>
  </table>
  {%else%}
  <p> Looks like you haven't registered any items! Let's change that </p>
{%endif%}
{% endblock %}
