{% extends "lostnfound/base.html" %}
{% block content %}
<h3> Welcome Back! </h3>
<div>
  {% if badLogin %}
  <div class="alert alert-danger">
    <strong> Wrong Username/Password. Try again </strong>
  </div>
  {%endif%}
  <form method="POST" action="/users" name='login'>
    {% csrf_token %}
    Username: <div>{{form.username}}</div> <br>
    Password : <div>{{form.password}} </div> <br>
    <button type="submit" class="btn btn-primary" name='login'>Login</button>
  </form>
</div>
{% endblock %}
