{% extends "lostnfound/base.html" %}
{% block content %}
<h3> Welcome Back! </h3>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div>
  {% if badLogin %}
    <p style="color:red;"> Wrong Username/Password. Try again </p>
  {%endif%}
  <form method="POST">
    {% csrf_token %}
    Username: <div>{{form.username}}</div> <br>
    Password : <div>{{form.password}} </div> <br>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
{% endblock %}
