{% extends "lostnfound/base.html" %}
{% block content %}
<h3> Welcome! Let's Get Started </h3>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div>
  <form action="/users" method="POST" name='signup'>
    {% csrf_token %}
    First Name: <div> {{form.first_name}} </div> <br>
    Username: <div> {{form.username}} </div> <br>
    Email: <div> {{form.email}} </div>  <br>
    Password: <div> {{form.password1}} </div>  <br>
    Password (again): <div> {{form.password2}} </div>  <br>
    <button type="submit" class="btn btn-primary" name='signup'>Sign Up</button>
  </form>
</div>
{% endblock %}
